<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFormSrc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WFormSrc.Properties.Settings>
            <setting name="WFormSrc_WebReference_WebService" serializeAs="String">
                <value>http://210.83.203.60:89/WebService.asmx</value>
            </setting>
        </WFormSrc.Properties.Settings>
    </applicationSettings>
</configuration>